/* Practical CSS Animations Workshop */
/* CSS */
/* Add your CSS style rules here */


/* CSS Normalization code */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
/* CSS Normalization code */


/* Start writing code here! */
